<!--Фильтрация по странице-->
<div class="filtration">
    <a style="color:#4520E6" href="#">
        <%=filter.All%>
    </a>
    <a data-filter=".tag-update" href="#">
        <%=filter.Update%>
    </a>
    <a data-filter=".tag-bandchain" href="#">
        <%=filter.Bandchain%>
    </a>
    <a data-filter=".tag-integration" href="#">
        <%=filter.Integration%>
    </a>
    <a data-filter=".tag-product" href="#">
        <%=filter.Product%>
    </a>
    <a data-filter=".tag-oracle" href="#">
        <%=filter.Oracle%>
    </a>
    <a data-filter=".tag-community" href="#">
        <%=filter.Community%>
    </a>
    <a data-filter=".tag-band-partners" href="#">
        <%=filter.Partners%>
    </a>
    <a data-filter=".tag-vrf" href="#">
        <%=filter.VRF%>
    </a>

</div>